body{
    background-color:#dcebf9;
}
.container,
.container_fluid{
    padding-top: 50px;
}

#title{
    background-color: rgb(146, 158, 112);
}
textarea.static{
    resize: none;
}
.jumbotron{
    border: 1px solid #eee;
}